# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[{*,*.json}]
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true

[assets/test/ast/**]
end_of_line = lf
