dist
*.tgz
dist.test
src/webview/dist
node_modules
.vscode-test/
*.vsix
.direnv
.eslintcache
*.cpuprofile
assets/test/ast/.modules/cache.json
packages/vencord-ast-parser/src/.vencord-source
packages/vencord-ast-parser/src/__test__/.vencord-source
