.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
pnpm-lock.yaml
vsc-extension-quickstart.md
**/tsconfig.json
eslint.config.mts
**/*.map
**/*.ts
scripts/**
dist/meta.json
patches
flake.*
.direnv
.eslintcache
.mocharc.jsonc
.vscode-test.mjs
.envrc
nodemon.json
.github
assets/test
.direnv
