.direnv/**
flake.nix
flake.lock
eslint.config.mts
.eslintcache
.vscode-test.mjs
dist.test
.github
.envrc
.mocharc.jsonc
nodemon.json
*.tgz
patches
.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
pnpm-lock.yaml
vsc-extension-quickstart.md
**/tsconfig.json
eslint.config.mts
**/*.map
**/*.ts
scripts/**
dist/meta.json
patches
flake.*
.direnv
.eslintcache
.mocharc.jsonc
.vscode-test.mjs
.envrc
nodemon.json
.github
assets/test
.direnv
packages
*.cpuprofile
.actrc
pnpm-workspace.yaml
build-artifacts.zip
