html, body {
  height: 100%;
  width: 100%;
}
#reporter {
  background-color: #282c34;
  position: absolute;
  top: 0px;
  left: 0px;
  flex-direction: column;
  height: 100%;
  width: 100%;
  display: flex;
  color: white;
}
