@import url('https://fonts.googleapis.com/css2?family=Poppins&wght@200&display=swap');

:root {
  --text: var(--vscode-editor-foreground);
  --subtext1: var(--vscode-descriptionForeground);
  --base: var(--vscode-editor-background);
  --mantle: var(--vscode-editorWidget-background);
  --button-background: var(--vscode-button-background);
  --button-foreground: var(--vscode-button-foreground);
  --core: var(--base);
}

.PluginName
{
  padding-bottom: .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2.5rem;
  cursor: pointer;
  svg
  {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
  }
}

body
{
  padding: 1rem;
  color: var(--text);
  background-color: var(--base);
  font-family: "Poppins";
}

#reporter h1
{
  margin-left: 1rem;
}

.ReportList
{
  background-color: var(--mantle);
  min-width: 30em;
  width: fit-content;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.Codeblock
{
  background-color: var(--core);
  color: var(--text);
  width: fit-content;
  padding: 0.5rem;
  border-radius: 0.5rem;
  height: fit-content;
  *
  {
    margin: 0px !important;
  }
}

.CodeblockContainer
{
  display: flex;
  height: fit-content;
  align-items: center;
  :nth-child(1)
  {
    margin-right: 0.5rem;
  }
}

.PatchList > *
{
    margin-top: 1rem;
}

.Button
{
  >h3 {
    user-select: none;
  }
  background-color: var(--button-background);
  color: var(--button-foreground);
  width: fit-content;
  padding: 0.5rem;
  border-radius: 0.5rem;
  height: fit-content;
  *
  {
    margin: 0px !important;
  }
  cursor: pointer;
}
.EvaledPatch .CodeblockContainer h4{
      margin: 1rem .5rem;
}
