name: test
on:
    push:
    pull_request:
jobs:
    test:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest, windows-latest]

        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v3 # Install pnpm using packageManager key in package.json

            - name: Use Node.js 20
              uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: "pnpm"

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Test if it bundles
              run: pnpm build
              
            - name: Setup ESLint Cache
              uses: actions/cache@v3
              with:
                path: |
                  eslint-config-cache
                key: ${{ runner.os }}-node-${{ hashFiles('**/pnpm-lock.yaml', '**/.eslint.config.mts') }}

            - name: Test if linting passes
              run: pnpm eslint --cache-strategy content --cache-location eslint-config-cache

            - name: Test if type checking passes
              run: pnpm typecheck

            - name: run tests 
              run: pnpm test
